h1 {
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: center;
}

/*Table is centered and has a border.*/
table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
}

a {
    text-align: center;
}